#top-header {
    height: 44px;
    background-color: #ffc926;
    color: #fff;
}

#top-header ul {
    list-style-type: none;
}

#top-header ul li {
    float: left;
}

#top-header ul li a {
    display: block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 12px;
}

#top-header ul li a:hover {
    background-color: #efefef;
    color: #333;
}

/*Style navbar*/

.navbar {
    margin-bottom: 30px;
    background-color: #fff;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #000 !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
    border-bottom: 2px solid #f4511e;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}


/*=========Ticket==========*/
.ticket{
    margin: 0;
    padding: 0;
}

.left-ticket{
    border: solid 1px #ddd;
    border-radius: 5px;
}



.form-control{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: solid 1px red;
    width: 80%;
}

/*============== giá tiền ========*/
.loai-gia{
    border-color: blue;
}
/*============Contact==========*/

.item-block {

}

.item-block h5 {
    color: #f4511e;
}



/*=================Footer===========*/

.footer{
    background-color: #ffc926;
}
.footer .copyright {
    height: 100px;
    background-color: #111;
    color: #aaa;
    font-size: 15px;
    text-transform: uppercase;
    font-family: serif;
}

.item-block {

}

.item-block h5 {
    color: #f4511e;
}